@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf") format("ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2pt;
  width: 100vw;
  overflow-x: hidden !important;
}

.shrink {
  transition-duration: 0.3s;
  transform-origin: left;
}

.main-wrapper {
  perspective: 200rem;
  width: 100vw;
}

nav {
  top: 0 !important;
  right: -120vw !important;
  transition-duration: 0.3s;
}

.nav-active {
  right: 0 !important;
}

.hide-bars {
  opacity: 0 !important;
}

.hide-element {
  opacity: 0 !important;
}

.Typewriter {
  font-size: 40px;
}

@media (min-width: 1024px) {
  nav {
    right: -120vw !important;
  }

  .nav-active {
    width: 30vw !important;
    right: 0 !important;
  }

  .menu-active {
    transform-style: preserve-3d;
    transform: rotateY(40deg);
  }
}
