@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf") format("ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2pt;
}

.menu-active {
  transform-style: preserve-3d;
  transform: rotateY(-40deg);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
}

.section-shrink {
  transition-duration: 0.3s;
  transform-origin: left;
}

nav {
  width: 0 !important;
  transition-duration: 0.3s;
}

.nav-active {
  width: 400px !important;
}
